<section class="grid grid-cols-1 gap-3 place-content-center md:grid-cols-2">
  <!-- ngIf -->
  <div
    class="block w-full max-w-sm p-6 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      if: {{ showContent() }}
    </h2>
    <button (click)="toggleContent()" class="px-4 py-2 text-white bg-indigo-600 rounded-md">
      Toggle Content
    </button>
    <div *ngIf="showContent()" class="mt-3 text-sm text-gray-600 dark:text-gray-400">
      Hello, I use <b>*ngIf</b> to show and hide me.
    </div>
  </div>

  <!-- @if -->
  <div
    class="block w-full max-w-sm p-6 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      if: {{ showContent() }}
    </h2>
    <button (click)="toggleContent()" class="px-4 py-2 text-white bg-indigo-600 rounded-md">
      Toggle Content
    </button>
    @if (showContent() ) {
    <div class="mt-3 text-sm text-gray-600 dark:text-gray-400">
      Hello, I use <b>{{"@"}}if</b> to show and hide me.
    </div>

    }
  </div>
</section>