<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full bg-white border-r border-gray-200 pt-14 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidenav" id="drawer-navigation">
  <div class="h-full px-3 py-5 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2">
      <!-- menu-item -->
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.path" routerLinkActive="bg-sky-600 text-white hover:bg-sky-700"
          class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <span class="ml-3">{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
